* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 29);

}
.container{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 400px;
    margin: 0 auto;
}
.btn {
  
  padding: 12px 25px;
  outline: none;
  border: 2px solid gray;
  background-color: transparent;
  color: gray;
  cursor: pointer;
  position: relative;
  
  transition: all 0.8s;
}
span {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  background-color: rgb(0, 0, 29);
}

.sp-1 {
  left: 97%;
  top: -7px;
  border: 2px solid lime;
  
}
.sp-2 {
  left: -7px;
  top: 90%;
  border: 2px solid lime;
  
}
.sp-3,
.sp-4 {
  background-color: lime;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.btn:hover {
  border-color: lime;
  box-shadow: 0 0 30px 1px lime;
  color: lime;
  
  font-size: 21px;
}
.btn:hover .sp-1 {
  
  left: -7px;
  top: -7px;
  transform: rotate(45deg);
}
.btn:hover .sp-2 {

  left: 97%;
  top: 90%;
  transform: rotate(45deg);
}
.btn:hover .sp-3{
    left: 97%;
  top: -7px;
  transform: rotate(45deg);
  opacity: 1;;
}
.btn:hover .sp-4{
    left: -7px;
  top: 90%;
  transform: rotate(45deg);
  opacity: 1;;
}










.btn-2 {
  
    padding: 12px 25px;
    outline: none;
    border: 2px solid gray;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    position: relative;
    
    transition: all 0.5s;
  }
.sp2-1 {
    left: 97%;
    top: -7px;
    border: 2px solid rgb(46, 137, 255);
    
  }
  .sp2-2 {
    left: -7px;
    top: 90%;
    border: 2px solid rgb(46, 137, 255);
    
  }
  .sp2-3,
  .sp2-4 {
    background-color: rgb(46, 137, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .btn-2:hover {
    border-color: rgb(46, 137, 255);
    box-shadow: 0 0 30px 1px rgb(46, 137, 255);
    color: rgb(46, 137, 255);
    
    font-size: 21px;
  }
  .btn-2:hover .sp2-1 {
    
    left: -7px;
    top: -7px;
    transform: rotate(45deg);
  }
  .btn-2:hover .sp2-2 {
  
    left: 97%;
    top: 90%;
    transform: rotate(45deg);
  }
  .btn-2:hover .sp2-3{
      left: 97%;
    top: -7px;
    transform: rotate(45deg);
    opacity: 1;;
  }
  .btn-2:hover .sp2-4{
      left: -7px;
    top: 90%;
    transform: rotate(45deg);
    opacity: 1;;
  }









  .btn-3 {
  
    padding: 12px 25px;
    outline: none;
    border: 2px solid gray;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    position: relative;
    
    transition: all 0.3s;
  }
.sp3-1 {
    left: 97%;
    top: -7px;
    border: 2px solid rgb(255, 0, 76);
    
  }
  .sp3-2 {
    left: -7px;
    top: 90%;
    border: 2px solid rgb(255, 0, 76);
    
  }
  .sp3-3,
  .sp3-4 {
    background-color: rgb(255, 0, 76);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .btn-3:hover {
    border-color: rgb(255, 0, 76);
    box-shadow: 0 0 30px 1px  rgb(255, 0, 76);
    color:  rgb(255, 0, 76);
    
    font-size: 21px;
  }
  .btn-3:hover .sp3-1 {
    
    left: -7px;
    top: -7px;
    transform: rotate(45deg);
  }
  .btn-3:hover .sp3-2 {
  
    left: 97%;
    top: 90%;
    transform: rotate(45deg);
  }
  .btn-3:hover .sp3-3{
      left: 97%;
    top: -7px;
    transform: rotate(45deg);
    opacity: 1;;
  }
  .btn-3:hover .sp3-4{
      left: -7px;
    top: 90%;
    transform: rotate(45deg);
    opacity: 1;;
  }

